#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config ARA_TCA_MAIN
	bool "Ara TCA6408 main"
	default y
	depends on ARCH_CHIP_TSB
	---help---
		Enable the Ara TCA6408 (GPIO expander) test program

if ARA_TCA_MAIN

config ARA_TCA_MAIN_PROGNAME
	string "Program name"
	default "tca"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

endif
