.depend
Make.dep
*.o
*.a
*.d
*.i
*~
.swp
.*.swp
.*.kate-swp
*.patch
*.rej
/core
.gdbinit
.dir-locals.el
cscope.out
cscope.files
misc/tools/kconfig-frontends
.built
build
nuttx/configs/ara/common/src/ara_build_info_priv.h
doc
oot
.DS_Store
