#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config GREYBUS_DEBUG
  bool "Enable verbose log"

choice
  prompt "Select a predefined Manifest"
config MANIFEST_GPIO
  bool "GPIO"
config MANIFEST_I2C
  bool "I2C"
config MANIFEST_GPIO_I2C
  bool "I2C and GPIO"
config MANIFEST_BATTERY_GPIO_I2C
  bool "Battery, GPIO and I2C"
config MANIFEST_LOOPBACK
  bool "Loopback"
config CUSTOM_MANIFEST
  bool "Custom manifest"
endchoice

config MANIFEST
  string "manifest name"
  depends on CUSTOM_MANIFEST

config SVC_MSG
  bool "Enable Greybus SVC Protocol"

