#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config GREYBUS_DEBUG
	bool "Enable verbose log"

choice
	prompt "Select a predefined Manifest"
config MANIFEST_GPIO
	bool "GPIO"
config MANIFEST_I2C
	bool "I2C"
config MANIFEST_GPIO_I2C
	bool "I2C and GPIO"
config MANIFEST_BATTERY_GPIO_I2C
	bool "Battery, GPIO and I2C"
config MANIFEST_LOOPBACK
	bool "Loopback"
config MANIFEST_VIBRATOR
	bool "Vibrator"
config MANIFEST_GPIO_I2C_VIBRATOR
	bool "GPIO, I2C, and Vibrator"
config CUSTOM_MANIFEST
	bool "Custom manifest"
endchoice

config MANIFEST
	string "manifest name"
	depends on CUSTOM_MANIFEST

config DST_DEVID
  int "destination device id"
  depends on !CUSTOM_MANIFEST && (ARCH_BOARD_ARA_BDB1B_SVC || ARCH_BOARD_ARA_BDB2A_SVC)
  ---help---
    Select the destination APBridge.
    Set to:
     - 1 for APB1
     - 2 for APB2
     - 3 for APB3
     - 4 for GPB1
     - 5 for GPB2

config SVC_MSG
	bool "Enable Greybus SVC Protocol"

