#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config ARA_GPIO
	bool "Ara GPIO app"
	default y
	depends on ARCH_CHIP_TSB || ARCH_BOARD_ARA_SVC
	---help---
		Enable the Ara GPIO test program

if ARA_GPIO

config ARA_GPIO_PROGNAME
	string "Program name"
	default "gpio"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the
		NSH ELF program is installed.

endif
