#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_HDK_MUC

config PM_IDLEENTER_COUNT
	int "Number of IDLE time slices to enter IDLE mode from NORMAL"
	default 10
	depends on PM

config PM_STANDBYENTER_COUNT
	int "Number of IDLE time slices to enter STANDBY mode from IDLE"
	default 5
	depends on PM

config MODS_RAW
	bool "Mods Raw support"
	default n
	depends on GREYBUS_RAW
	select DEVICE_CORE
	---help---
		Enable Generic Raw support

config MAX17050_DEVICE
	bool "MAX17050 battery device"
	default n
	depends on BATTERY_MAX17050
	select DEVICE_CORE

config SLAVE_PWRCTRL_DEVICE
        bool "Slave power control device"
        default n
        depends on GREYBUS_MODS
        select DEVICE_CORE

if SLAVE_PWRCTRL_DEVICE
config SLAVE_PWRCTRL_FORCE_FLASH
        bool "Slave power control force flash"
        default n
endif

config BATTERY_GOOD_DEVICE_COMP
	bool "Battery good detection with voltage comparator"
	default n
	depends on STM32_COMP

endif
