#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

source "$APPSDIR/ara/debug/Kconfig"
source "$APPSDIR/ara/epm/Kconfig"
source "$APPSDIR/ara/etm/Kconfig"
source "$APPSDIR/ara/svc_power/Kconfig"
source "$APPSDIR/ara/svc/Kconfig"
source "$APPSDIR/ara/unipro/Kconfig"
source "$APPSDIR/ara/apbridge/Kconfig"
source "$APPSDIR/ara/gpbridge/Kconfig"
source "$APPSDIR/ara/pwm/Kconfig"
source "$APPSDIR/ara/gpio/Kconfig"
source "$APPSDIR/ara/bdbpm/Kconfig"
source "$APPSDIR/ara/springpm/Kconfig"
source "$APPSDIR/ara/pinshare/Kconfig"
source "$APPSDIR/ara/spi/Kconfig"
source "$APPSDIR/ara/usb-host/Kconfig"
source "$APPSDIR/ara/gb_loopback/Kconfig"
source "$APPSDIR/ara/i2s/Kconfig"
