#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

source "$APPSDIR/ara/debug/Kconfig"
source "$APPSDIR/ara/epm/Kconfig"
source "$APPSDIR/ara/etm/Kconfig"
source "$APPSDIR/ara/svc_power/Kconfig"
source "$APPSDIR/ara/svc/Kconfig"
source "$APPSDIR/ara/unipro/Kconfig"
source "$APPSDIR/ara/apbridge/Kconfig"
source "$APPSDIR/ara/apbridge-unipro/Kconfig"
source "$APPSDIR/ara/tca/Kconfig"
source "$APPSDIR/ara/lg/Kconfig"
source "$APPSDIR/ara/gpbridge/Kconfig"
source "$APPSDIR/ara/pwm/Kconfig"
source "$APPSDIR/ara/gpio/Kconfig"
source "$APPSDIR/ara/bdbpm/Kconfig"
