#
# Copyright (c) 2016 Motorola Mobility, LLC
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
# 3. Neither the name of the copyright holder nor the names of its
# contributors may be used to endorse or promote products derived from this
# software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
# THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
# PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config I2S_TUNNEL
	bool "Enable I2S tunneling device driver support."
	default n

if I2S_TUNNEL

choice
	prompt "Select an I2S tunnel mode"

config I2S_TUNNEL_LOCAL_LOOPBACK
	bool "Define this if local loopback testing is desired."
	---help---
		Local loopback testing enables a single device to loopback on I2S to itself.
		To use this mode the TX and RX data lines must be shorted.  No transport is
		used in this configuration.  It can be used for testing DMA as well as the
		I2S hardware block.

config I2S_TUNNEL_ROUNDTRIP_LOOPBACK
	bool "Define this if I2S loopback over the transport testing is desired."
	---help---
		In this mode the APBA sends I2S data out it's I2S bus in master mode, then
		receives the data it sent.  The received data is then sent over the transport
		(currently Unipro) to the APBE.  The APBE in turn sends the data out it's
		I2S bus in master mode.  The data the APBE receives is then send back to
		the APBA and the cycle continues.  This is useful for testing the round
		trip performance of the system.  For this to work the APBA RX and TX
		lines must be shorted and the APBE RX and TX lines must be shorted.

endchoice


endif
