#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config MODS_USB_EXT_TEST
	bool "Mods USB_EXT Test APP"
	default n

if MODS_USB_EXT_TEST

config MODS_USB_EXT_TEST_MAIN
	string "Program name"
	default "usb_ext_main"
	depends on BUILD_KERNEL

endif
