choice
	prompt "Select a Slice bus"
config GREYBUS_SLICE_SPI
	bool "SPI"

config GREYBUS_SLICE_I2C
	bool "I2C"
endchoice

config GREYBUS_SLICE_PORT
	int "Slice Port Number"
	default 1
	---help---
		Bus port to use to communicate with base (default 1).

if GREYBUS_SLICE_I2C

config GREYBUS_SLICE_I2C_ADDR
	hex "Slice I2C Address"
	default 0x55

endif
