#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config MODS_DIET
	bool "Diet Mods"
	select GREYBUS_UTILS
	default n

config MODS_USER_INIT
	bool "Initialize device drivers when app starts"
	default n
	depends on MODS_DIET
