#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config APBRIDGE
	bool "APBridge FW"
	select GREYBUS_UTILS
	default n

config APBRIDGE_GBSIM
	bool "Enable GBSIM mode"
	depends on APBRIDGE
	default n
