#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config APBRIDGE_UNIPRO
	bool "APBridge FW with UniPro layer"
	select GREYBUS_UTILS
	default n

config APBRIDGE_GBSIM
	bool "Enable GBSIM mode"
	depends on APBRIDGE_UNIPRO
	default n
