#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

choice
	prompt "Select a route config"
config SVC_ROUTE_DEFAULT
	bool "APB1 to APB2"
config SVC_ROUTE_SPRING6_APB2
	bool "AP Module to APB2"
endchoice
