#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#
config BATTERY
	bool "Battery support"
	default n
	
config MAX1704X
	bool "MAX1704X Battery charger support"
	default n
	select I2C
	select I2C_MAX1704X
	depends on BATTERY
	---help---
		The MAX17040/MAX17041 are ultra-compact, low-cost, host-side fuel-gauge
		systems for lithium-ion (Li+) batteries in handheld and portable equipment.
		The MAX17040 is configured to operate with a single lithium cell and the
		MAX17041 is configured for a dual-cell 2S pack.

config I2C_MAX1704X
	bool
	default y if MAX1704X

config BATTERY_MAX17050
	bool "MAX17050 battery fuel gauge support"
	default n
	select I2C
	select I2C_WRITEREAD
	depends on BATTERY
	---help---
		Select to support the MAX17050 battery fuel gauge IC.

if BATTERY_MAX17050
choice
	prompt "Select Battery Specific Configuration"
config BATTERY_MAX17050_SAMPLE_CFG
	bool "Sample configuration"
endchoice
endif

config CHARGER_BQ24292
	bool "TI bq24292 charger support"
	default n
	select I2C
	select I2C_WRITEREAD
	---help---
		Select to support the bq24292 charger IC.

config CHARGER_BQ24292_I2C_BUS
	int "BQ24292 I2C Bus Number"
	default 1
	depends on CHARGER_BQ24292
	---help---
		I2C bus to use to communicate with device.

config CHARGER_BQ24292_I2C_BUS_SPEED
	int "BQ24292 I2C Bus Speed"
	default 400000
	depends on CHARGER_BQ24292
	---help---
		I2C bus speed to use to communicate with device

if CHARGER_BQ24292
choice
	prompt "Select Battery Specific Configuration"
config CHARGER_BQ24292_SAMPLE_CFG
	bool "Sample configuration"
endchoice
endif

config BATTERY_STATE
	bool "Battery level and temp notifier"
	default n

config BATTERY_STATE_SIMULATOR
	bool "Simulated battery temp and level"
        depends on BATTERY_STATE
	default n

config GREYBUS_PTP_CHG_DEVICE_BQ24292
	bool "BQ24292 PTP charger device driver"
	default n
	depends on GREYBUS_MODS_PTP_DEVICE_BATTERY && CHARGER_BQ24292 && GPIO

config PAD_DETECT_DEVICE_GPIO
	bool "Wireless pad detection through GPIO state"
	default n
	select GPIO
