#
# Copyright (c) 2015 Google, Inc.
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
# 3. Neither the name of the copyright holder nor the names of its
# contributors may be used to endorse or promote products derived from this
# software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
# THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
# PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

config GREYBUS_TAPE_ARM_SEMIHOSTING
	bool "ARM Semihosting GB Taping"
	depends on ARCH_ARM
	select ARM_SEMIHOSTING
	default n
	---help---
		Greybus Tape provide a recording mechanism for incoming Greybus
		operations in order to replay them without needing an AP or UniPro.

config GREYBUS_CONTROL_PROTOCOL
	bool "Control Protocol support"
	default n

config GREYBUS_GPIO_PHY
	bool "GPIO PHY support"
	select GPIO
	default n

config GREYBUS_I2C_PHY
	bool "I2C PHY support"
	select I2C
	select I2C_TRANSFER
	default n

config GREYBUS_SPI_PHY
	bool "SPI PHY support"
	select DEVICE_CORE
	default n

config GREYBUS_BATTERY
	bool "Battery support"
	default n

config GREYBUS_LOOPBACK
	bool "Loopback support"
	default n

config GREYBUS_VIBRATOR
	bool "Vibrator support"
	select GPIO
	default n

config GREYBUS_USB_HOST_PHY
	bool "USB Host PHY support"
	default n

config GREYBUS_PWM_PHY
	bool "PWM PHY support"
	select DEVICE_CORE
	default n

config GREYBUS_I2S_PHY
	bool "I2S PHY support"
	select DEVICE_CORE
	select LIB_RING_BUF
	default n

config GREYBUS_UART_PHY
	bool "UART PHY support"
	select DEVICE_CORE
	default n

config GREYBUS_HID
	bool "HID support"
	select DEVICE_CORE
	default n

config GREYBUS_FEATURE_HAVE_TIMESTAMPS
	bool
	default n

config GREYBUS_LIGHTS
	bool "Lights support"
	select DEVICE_CORE
	default n
