#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config ARA_LG_MAIN
	bool "Ara LG4892 test application"
	default y
	depends on ARCH_CHIP_TSB
	---help---
		Enable the Ara LG4892 LCD Panel and Touchscreen test
		application.

if ARA_LG_MAIN

config ARA_LG_MAIN_PROGNAME
	string "Program name"
	default "lg"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the
		NSH ELF program is installed.

endif
