#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

comment "Toshiba Bridge Configuration Options"

choice
	prompt "Toshiba Bridge chip configuration options"
	default ARCH_CHIP_APBRIDGE
	depends on ARCH_CHIP_TSB

config ARCH_CHIP_APBRIDGE
	bool "APBridge"
	select ARCH_CORTEXM3
	select TSB_APBRIDGE
	select ARCH_HAVE_UART
	---help---
		Toshiba APBridge

config ARCH_CHIP_GPBRIDGE
	bool "GPBridge"
	select ARCH_CORTEXM3
	select TSB_GPBRIDGE
	select ARCH_HAVE_UART
	---help---
		Toshiba GPBridge

endchoice

config ARCH_CHIP_USB_COMMON
	bool
	select CLOCK_MONOTONIC

config ARCH_CHIP_USB_HCD
	bool "USB Host Support"
	depends on ARCH_CHIP_GPBRIDGE
	default y if ARCH_CHIP_GPBRIDGE
	select ARCH_CHIP_USB_COMMON
	---help---
		Synopsys USB Host Controller Driver

config ARCH_CHIP_USB_PCD
	bool "USB Device Support"
	depends on ARCH_CHIP_APBRIDGE
	default y if ARCH_CHIP_APBRIDGE
	select ARCH_CHIP_USB_COMMON
	---help---
		Synopsys USB Device Driver

config ARA_USB_DEBUG
  bool "Enable DWC Debug"
  depends on ARCH_CHIP_USB_PCD || ARCH_CHIP_USB_HCD

config TSB_SPIROM
    bool
    default y if BOOT_COPYTORAM
    select ARCH_RAMVECTORS

config TSB_PINSHARE_ETM
    bool "Enable ETM PINSHARE at Boot"
    depends on ARCH_CHIP_TSB
    default n
	---help---
		Enable ETM PINSHARE at Boot Instead of I2S

config ARCH_CHIP_DEVICE_PLL
    bool
    default n

choice
	prompt "Drive Strength for the TRACE Signals"
	default TSB_TRACE_DRIVESTRENGTH_MAX
	depends on TSB_PINSHARE_ETM

config TSB_TRACE_DRIVESTRENGTH_MIN
	bool "Minimum Drive Strength (2ma)"
	---help---
		Selects the lowest possible drive strength for the TRACE signals

config TSB_TRACE_DRIVESTRENGTH_DEFAULT
	bool "Default Drive Strength (4ma)"
	---help---
		Selects a mid-range drive strength for the TRACE signals

config TSB_TRACE_DRIVESTRENGTH_MAX
	bool "Maximum Drive Strength (8ma)"
	---help---
		Selects the highest possible drive strength for the TRACE signals

endchoice
