#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

comment "Toshiba Bridge Configuration Options"

choice
	prompt "Toshiba Bridge chip configuration options"
	default ARCH_CHIP_APBRIDGE
	depends on ARCH_CHIP_TSB

config ARCH_CHIP_APBRIDGE
	bool "APBridge"
	select ARCH_CORTEXM3
	select TSB_APBRIDGE
	select ARCH_HAVE_UART
	---help---
		Toshiba APBridge

config ARCH_CHIP_GPBRIDGE
	bool "GPBridge"
	select ARCH_CORTEXM3
	select TSB_GPBRIDGE
	select ARCH_HAVE_UART
	---help---
		Toshiba GPBridge

endchoice

config ARCH_CHIP_USB_COMMON
	bool
	select CLOCK_MONOTONIC

config ARCH_CHIP_USB_HCD
	bool "USB Host Support"
	depends on ARCH_CHIP_GPBRIDGE
	default y if ARCH_CHIP_GPBRIDGE
	select ARCH_CHIP_USB_COMMON
	---help---
		Synopsys USB Host Controller Driver

config ARCH_CHIP_USB_PCD
	bool "USB Device Support"
	depends on ARCH_CHIP_APBRIDGE
	default y if ARCH_CHIP_APBRIDGE
	select ARCH_CHIP_USB_COMMON
	---help---
		Synopsys USB Device Driver
