#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config GPBRIDGE
	bool "GPBridge FW with UniPro layer"
	select GREYBUS_UTILS
	select GREYBUS_CONTROL_PROTOCOL
	default n
