#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#
# Copyright (C) 2014 Google, Inc.
#

config ARA_SVC_EPM
	bool "Ara SVC EPM control"
	default n
	depends on ARCH_BOARD_ARA_BDB_SVC
	---help---
		Enable the Ara EPM program. Controls the EPM states


if ARA_SVC_EPM

config ARA_SVC_EPM_PROGNAME
	string "Program name"
	default "epm"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

endif
